<footer class="footer">

   <section class="grid">

      <div class="box">
         <h3>quick links</h3>
         <a href="home.php"> <i class="fas fa-angle-right"></i> Home</a>
         <a href="about.php"> <i class="fas fa-angle-right"></i> About</a>
         <a href="room.php"> <i class="fas fa-angle-right"></i> Room</a>
         <a href="contact.php"> <i class="fas fa-angle-right"></i> Contact</a>
      </div>

      <div class="box">
         <h3>extra links</h3>
         <a href="user_login.php"> <i class="fas fa-angle-right"></i> login</a>
         <a href="user_register.php"> <i class="fas fa-angle-right"></i> register</a>

         <a href="booking.php"> <i class="fas fa-angle-right"></i> Transaction</a>
      </div>

      <div class="box">
         <h3>contact us</h3>
         <a href="tel:(063)302-9784"><i class="fas fa-phone"></i><span>(063) 302-9784</span></a>
         <a href="tel:09988421518"><i class="fas fa-mobile"></i><span>09988421518</span></a>
         <a href="mailto:theloft@gmail.com"><i class="fas fa-envelope"></i><span>theloft@gmail.com</span></a>
         <a href="#"><i class="fas fa-map-marker-alt"></i><span>Ubaldo Laya Avenue, Corner Aguinaldo Extension Pala-o, 9200 Iligan City, Philippines</span></a>
      </div>



   </section>

   <div class="credit">&copy; copyright @ <?= date('Y'); ?> by <span>LoftHotel</span></div>

</footer>